@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<section id="hero-no-slider" class="d-flex justify-cntent-center align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <h2>E-COMMERCE SELLING APPLICATION</h2>
                <p>
                    Manage - inventory | Sell - online | Control - autopricing
                </p>

                @if (!SignInManager.IsSignedIn(User))
                {
                    <a class="btn-get-started " asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
                }
            </div>
        </div>
    </div>
</section>
