@model StaplesViewModel
@{
    ViewData["Title"] = "Staples";
}
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                Staples Management
                <ol>
                    <li><a asp-controller="Home" asp-action="Index">Home </a></li>
                    <li>Staples Funcs</li>
                </ol>
            </div>
        </div>
    </section>
    <section class="services">
        <div class="container">
            <div class="flex-row row">
                <div class="col-md col-lg" data-aos="fade-up">
                    <div class="p-3 icon-box icon-box-blue">
                        <div class="p-3 box">
                            <div class="icon"><i class="bx bx-data"></i></div>
                            <h4 class="title border-bottom">PRODUCTS UPLOADS BULK (LIVE)</h4>
                            <div class="description gap-3 d-grid">
                                <a asp-action="UploadCategories" asp-controller="Staples" class="btn btn-outline-primary btn-sm text-uppercase">Upload Categories links from Staples</a>
                                <div class="btn  btn-sm"><br /> </div>
                                <div class="btn  btn-sm"><br /> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md col-lg" data-aos="fade-up" data-aos-delay="175">
                    <div class="p-3 icon-box icon-box-blue">
                        <div class="p-3 box">
                            <div class="icon"><i class="bx bx-data"></i></div>
                            <h4 class="title border-bottom">PRODUCTS GET (ONLINE)</h4>
                            <div class="description gap-3 d-grid">
                                <a asp-action="UploadFullProductsFromSupCat" asp-controller="Staples" class="btn btn-outline-primary btn-sm text-uppercase">Collect per each SC multi</a>
                                <div class="btn  btn-sm"><br /> </div>
                                <div class="btn  btn-sm"><br /> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md col-lg" data-aos="fade-up" data-aos-delay="220">
                    <div class="p-3 icon-box icon-box-blue">
                        <div class="p-3 box">
                            <div class="icon"><i class="bx bx-data"></i></div>
                            <h4 class="title border-bottom">PRODUCTS GET PER 1 (ONLINE)</h4>
                            <div class="description gap-3 d-grid">
                                <a asp-action="GetFromGoogleCache" asp-controller="Staples" class="btn btn-outline-primary btn-sm text-uppercase">Import from googcache</a>
                                <a asp-action="UploadFullProductsData" asp-controller="Staples" class="btn btn-outline-primary btn-sm text-uppercase">Upload Products Data from Staples</a>
                                <a asp-action="GetTitlePriceByStaplesModelNum" asp-controller="Staples" class="btn btn-outline-primary btn-sm text-uppercase">Upload Products Price,Title,Img from Staples</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
        <div class="container">
            <div class="row">
                <div class="d-flex flex-column justify-content-center p-5">
                    <h4 class="title border-bottom">Status Messages</h4>
                    <p class="description">
                        @Model.statusMessage
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="services">
        <div class="container">
            <div class="flex-row row">
                <div class="col-md col-lg" data-aos="fade-up">
                    <div class="p-3 icon-box icon-box-blue">
                        <div class="p-3 box">
                            <div class="icon"><i class="bx bx-upload"></i></div>
                            <h4 class="title border-bottom">IMPORT PRODUCTS</h4>
                            <div class="description gap-3 d-grid">
                                <a asp-action="ImportProductsFrXml" asp-controller="Staples" class="btn btn-outline-primary btn-sm text-uppercase">Import Products from xml</a>
                                <a asp-action="ImportProductsFrTxt" asp-controller="Staples" class="btn btn-outline-primary btn-sm text-uppercase">Import Products from txt</a>
                                <div class="btn  btn-sm"><br /> </div>
                                <div class="btn  btn-sm"><br /> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md col-lg" data-aos="fade-up" data-aos-delay="175">
                    <div class="p-3 icon-box icon-box-blue">
                        <div class="p-3 box">
                            <div class="icon"><i class="bx bx-upload"></i></div>
                            <h4 class="title border-bottom">CATEGORIES</h4>
                            <div class="description gap-3 d-grid">
                                <a asp-action="ImportCatsFrXml" asp-controller="Staples" class="btn btn-outline-primary btn-sm text-uppercase">Import Categories (Staples sitemap)</a>
                                <a asp-action="FillC1toC10" asp-controller="Staples" class="btn btn-outline-primary btn-sm text-uppercase">Fill C1 to c10 Categories</a>
                                <a asp-action="ImportCatgsFrTxt" asp-controller="Staples" class="btn btn-outline-primary btn-sm text-uppercase">Import Categories (Excel)</a>
                                <a asp-action="ImportSidCatgsFrTxt" asp-controller="Staples" class="btn btn-outline-primary btn-sm text-uppercase">Import StaplesID and Urls from txt</a>
                                <div class="btn  btn-sm"><br /> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md col-lg" data-aos="fade-up" data-aos-delay="220">
                    <div class="p-3 icon-box icon-box-blue">
                        <div class="p-3 box">
                            <div class="icon"><i class="bx bx-upload"></i></div>
                            <h4 class="title border-bottom">OTHERS</h4>
                            <div class="description gap-3 d-grid">
                                <a asp-action="TestDebugFunc1" asp-controller="Staples" class="btn btn-outline-primary btn-sm text-uppercase">Test/Debug Function 1</a>
                                <div class="btn  btn-sm"><br /> </div>
                                <div class="btn  btn-sm"><br /> </div>
                                <div class="btn  btn-sm"><br /> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 video-box">
                    <img src="assets/img/why-us.jpg" class="img-fluid" alt="">
                    <a href="#" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-shop"></i></div>
                        <h4 class="title border-bottom">...</h4>
                        <p class="description">
                        </p>
                    </div>
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-shop"></i></div>
                        <h4 class="title border-bottom">...</h4>
                        <p class="description">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>