@model StaplesViewModel
@{
    ViewData["Title"] = "Staples Advantage";
}
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                Staples Management
                <ol>
                    <li><a asp-controller="Home" asp-action="Index">Home </a></li>
                    <li>Staples Functions</li>
                </ol>
            </div>
        </div>
    </section>
    <section class="services">
        <div class="container">
            <div class="flex-row row">
                <div class="col-md col-lg" data-aos="fade-up">
                    <div class="p-3 icon-box icon-box-blue">
                        <div class="p-3 box">
                            <div class="icon"><i class="bx bx-data"></i></div>
                            <h4 class="title border-bottom">PRODUCTS UPLOADS BULK (LIVE)</h4>
                            <div class="description gap-3 d-grid">
                                <a asp-action="UploadProdPricesAll" asp-controller="Adv" class="btn btn-outline-primary btn-sm text-uppercase">Live Table Products by Cats</a>
                                <div class="btn  btn-sm"><br /> </div>
                                <div class="btn  btn-sm"><br /> </div>
                                <div class="btn  btn-sm"><br /> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md col-lg" data-aos="fade-up" data-aos-delay="175">
                    <div class="p-3 icon-box icon-box-blue">
                        <div class="p-3 box">
                            <div class="icon"><i class="bx bx-data"></i></div>
                            <h4 class="title border-bottom text-uppercase">PRODUCT PER 1 UPLOADS (LIVE)</h4>
                            <div class="description gap-3 d-grid">
                                <div class="btn  btn-sm"><br /> </div>
                                <div class="btn  btn-sm"><br /> </div>
                                <div class="btn  btn-sm"><br /> </div>
                                <div class="btn  btn-sm"><br /> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md col-lg" data-aos="fade-up" data-aos-delay="220">
                    <div class="p-3 icon-box icon-box-blue">
                        <div class="p-3 box">
                            <div class="icon"><i class="bx bx-data"></i></div>
                            <h4 class="title border-bottom text-uppercase">CATEGORIES (LIVE)</h4>
                            <div class="description gap-3 d-grid">
                                <div class="btn  btn-sm"><br /> </div>
                                <div class="btn  btn-sm"><br /> </div>
                                <div class="btn  btn-sm"><br /> </div>
                                <div class="btn  btn-sm"><br /> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
        <div class="container">
            <div class="row">
                <div class="d-flex flex-column justify-content-center p-5">
                    <h4 class="title border-bottom">Status Messages</h4>
                    <p class="description">
                        @Model.statusMessage
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>